*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main{

    width: 100%;
    height: 100vh;
    background-color:#9AECDB;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.box{
    width: 600px;
    min-height: 500px;
    border-radius: 5px;
    background-color:white;
    padding: 20px;
}

.heading{
    background-color: #2c3e50;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

#item{
    width: 100%;
    padding: 10px;
    outline:0;
    border: 0;
    box-shadow: 0px 0px 2px gray;
    font-weight: bold;
    border-radius: 5px;
}

#to_do_box{

    margin-top: 10px;
    list-style: none;
    /* margin-top: 10px; */
}
#to_do_box li{
 background-color: #2c3e50;
 color: white;
 padding: 10px;
 border-radius:5px;
 position:relative;
 padding-right:35px;
 text-align: justify;
 margin-top: 10px;
 /* display: none; */
 
}

#to_do_box li i{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    background-color: #526272;
    padding: 2px;
    /* display:none */
    /* color: red; */
}


/* .fa-solid{
    background-color:red;
} */